@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body {
    font-family: 'Quattrocento Sans', sans-serif;
    background-color: #EEEEEE;
    box-sizing: border-box;
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

footer {
    color: #232931;
    padding: 15px 0;
    text-align: center;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

/* Game board styles */
.board {
    background-color: #4ECCA3;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 12px;
}

.cell {
    font-family: 'Fredoka One', cursive;
    background-color: #EEEEEE;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #232931;
    height: 120px;
    width: 120px;
    font-size: 5rem;
    cursor: pointer;
}

.active-player {
    font-size: 1.5rem;
    padding: 22px 0;
    font-weight: 500;
}


/* Start overlay styles */
.start-overlay {
    position: absolute;
}

 
/* Buttons overlay styles */
.buttons-overlay {
    background-color: #232931;
    color: #EEEEEE;
    display: flex;
    font-size: 1.2rem;
    justify-content: space-evenly;
    align-items: center;
    width: 400px;
    height: 60px;
    margin: 27px 0;
    border-radius: 66px;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    border-bottom: 6px solid #4ECCA3;
}

.restart>img {
    width: 35px;
}

.restart {
    position:absolute;
    right: 32%;
    margin-top: 4px;
    cursor: pointer;    
}

.restart:hover {
    border-bottom: 6px solid #4ECCA3;
}

/* Winner overlay styles */
.winner-overlay {
    position: absolute;
    top: 30%;
    background-color: #232931;
    padding: 27px;
    width: 350px;
    height: 160px;
    text-align: center;
    display: none;
    flex-direction: column;
}

.winner-overlay>p {
    font-size: 1.7rem;
    font-weight: 700;
    color: #EEEEEE;
    flex: 1;
}

.winner-btns {
    display: flex;
    justify-content: space-evenly;
}

.winner-btns>button {
    background-color: #4ECCA3;
    border:none;
    padding: 10px 20px;
    cursor: pointer;
}